.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1330px){
    .list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 930px){
    .list{
        gap: 1rem;
    }
}

@media screen and (max-width: 890px){
    .list{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px){
    .footer_card{
        flex-direction: column !important;
        padding: 5px !important;
    }
}

@media screen and (max-width: 430px){
    .list{
        grid-template-columns: 1fr;
    }
}